<!--!
   Powered by 「Ashen」.
   Version: 2020-09-05 10.05.00

   ===
   「この能力が光散らす その先に遥かな想いを」
   # 无法成功数字化你的心情 但我一直在这里 #-->
<!DOCTYPE html>
<html>

<head>
  <title>Online Judge</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="在线编程, 刷题, 题库, 数据结构, 代码, 互联网, 编程, 开发, 程序员, 工程师, 码农, 程序猿, OJ, online judge"
    data-react-helmet="true">
  <meta name="description" content="Talk is cheap. Show me the code." data-react-helmet="true">
  <meta name="renderer" content="webkit" />
  <% if (process.env.NODE_ENV === 'production') { %>
  <meta http-equiv="Content-Security-Policy" content="script-src yfoj.org.cn cdn.jsdelivr.net 'unsafe-inline'; object-src 'none'; style-src yfoj.org.cn cdn.jsdelivr.net 'unsafe-inline'; child-src https:; img-src cdn.yfoj.org.cn yfoj.org.cn data: wpimg.wallstcn.com;">
  <%}%>
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
  <link rel="shortcut icon" href="/static/image/favicon.ico">
  <link href="/static/css/loader.css" rel="stylesheet">
  <% if (process.env.NODE_ENV === 'production') { %>
  <% htmlWebpackPlugin.options.cdnConfig.forEach(function(item){ if(item.css){ %>
  <link href="<%= item.css %>" rel="stylesheet" />
  <% }}) %>
  <%}%>
</head>

<body>
  <div id="app-loader">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square last"></div>
    <div class="square clear"></div>
    <div class="square"></div>
    <div class="square last"></div>
    <div class="square clear"></div>
    <div class="square "></div>
    <div class="square last"></div>
  </div>

  <div id="app"></div>
  
  <% if (process.env.NODE_ENV === 'production') { %>
  <% htmlWebpackPlugin.options.cdnConfig.forEach(function(item){ if(item.js){ %>
  <script type="text/javascript" src="<%= item.js %>"></script>
  <% }}) %>
  <script>
    // IE 10 and earlier
    if (window.navigator.userAgent.indexOf('MSIE ') > 0 &&
      window.confirm('Your browser is not supported, click \'OK\' to update')) {
      window.location = 'http://outdatedbrowser.com'
    }
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker
          .register('/service-worker.js')
          .then(registration => {
            console.log('SW registered: ', registration);
          })
          .catch(registrationError => {
            console.log('SW registration failed: ', registrationError);
          });
      });
    }
  </script>
  <%}%>
</body>

</html>