<!DOCTYPE html>
<html lang="en">
<head>
  <title>OnlineJudge</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="renderer" content="webkit"/>
  <link rel="shortcut icon" href="/static/image/favicon.ico">
  <% if (process.env.NODE_ENV === 'production') { %>
  <% htmlWebpackPlugin.options.cdnConfig.forEach(function(item){ if(item.css){ %>
  <link href="<%= item.css %>" rel="stylesheet" />
  <% }}) %>
  <%}%>
</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->

<% if (process.env.NODE_ENV === 'production') { %>
<% htmlWebpackPlugin.options.cdnConfig.forEach(function(item){ if(item.js){ %>
<script type="text/javascript" src="<%= item.js %>"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-170628607-1', 'auto');
  ga('send', 'pageview');
</script>
<% }}) %>
<%}%>
</body>
</html>
